<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>question/bear.png</key>
			<dict>
				<key>frame</key>
				<string>{{2269,0},{195,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,277}</string>
			</dict>
			<key>question/cat.png</key>
			<dict>
				<key>frame</key>
				<string>{{2523,195},{181,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,263}</string>
			</dict>
			<key>question/cow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,0},{276,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,260}</string>
			</dict>
			<key>question/dog.png</key>
			<dict>
				<key>frame</key>
				<string>{{2259,386},{271,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,137}</string>
			</dict>
			<key>question/elephant.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{321,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,260}</string>
			</dict>
			<key>question/giraffe.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,0},{210,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,260}</string>
			</dict>
			<key>question/gorilla.png</key>
			<dict>
				<key>frame</key>
				<string>{{2823,0},{206,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,255}</string>
			</dict>
			<key>question/hippopotamus.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,546},{309,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,205}</string>
			</dict>
			<key>question/horse.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,295}</string>
			</dict>
			<key>question/lion.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,295},{330,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,251}</string>
			</dict>
			<key>question/monkey.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{238,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,257}</string>
			</dict>
			<key>question/mouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,0},{287,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,304}</string>
			</dict>
			<key>question/panda.png</key>
			<dict>
				<key>frame</key>
				<string>{{2546,0},{195,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,277}</string>
			</dict>
			<key>question/pig.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,228},{267,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,265}</string>
			</dict>
			<key>question/rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,468},{231,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,284}</string>
			</dict>
			<key>question/sheep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,0},{318,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,228}</string>
			</dict>
			<key>question/tiger.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,287},{354,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,195}</string>
			</dict>
			<key>question/whale.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{411,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,216}</string>
			</dict>
			<key>question/wolf.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,216},{343,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,252}</string>
			</dict>
			<key>question/zebra.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{350,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,295}</string>
			</dict>
			<key>question/eight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,554},{147,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,191}</string>
			</dict>
			<key>question/eighteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{3078,0},{243,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,191}</string>
			</dict>
			<key>question/eleven.png</key>
			<dict>
				<key>frame</key>
				<string>{{2523,376},{195,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,191}</string>
			</dict>
			<key>question/fifteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{2786,206},{231,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,191}</string>
			</dict>
			<key>question/five.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,634},{134,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,190}</string>
			</dict>
			<key>question/four.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,401},{153,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,191}</string>
			</dict>
			<key>question/fourteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{2269,195},{254,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,191}</string>
			</dict>
			<key>question/nine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,493},{141,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,191}</string>
			</dict>
			<key>question/nineteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{3805,0},{237,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,191}</string>
			</dict>
			<key>question/one.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,468},{93,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,191}</string>
			</dict>
			<key>question/seven.png</key>
			<dict>
				<key>frame</key>
				<string>{{2064,589},{146,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,191}</string>
			</dict>
			<key>question/seventeen.png</key>
			<dict>
				<key>frame</key>
				<string>{{3321,0},{242,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,191}</string>
			</dict>
			<key>question/six.png</key>
			<dict>
				<key>frame</key>
				<string>{{1527,493},{141,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,191}</string>
			</dict>
			<key>question/sixteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{3078,191},{237,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,191}</string>
			</dict>
			<key>question/ten.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,210},{250,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,191}</string>
			</dict>
			<key>question/thirteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{3563,0},{242,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,191}</string>
			</dict>
			<key>question/three.png</key>
			<dict>
				<key>frame</key>
				<string>{{2121,401},{136,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,188}</string>
			</dict>
			<key>question/twelve.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,260},{248,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,191}</string>
			</dict>
			<key>question/twenty.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,482},{308,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,191}</string>
			</dict>
			<key>question/two.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,451},{152,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,191}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistOfQuestion.png</string>
			<key>realTextureFileName</key>
			<string>PlistOfQuestion.png</string>
			<key>size</key>
			<string>{4096,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>