<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>question/bear.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,528},{195,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,277}</string>
			</dict>
			<key>question/cat.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,992},{181,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,263}</string>
			</dict>
			<key>question/cow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2044,1},{276,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,260}</string>
			</dict>
			<key>question/dog.png</key>
			<dict>
				<key>frame</key>
				<string>{{3922,1},{271,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,137}</string>
			</dict>
			<key>question/elephant.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,266},{321,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,260}</string>
			</dict>
			<key>question/giraffe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,551},{210,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,260}</string>
			</dict>
			<key>question/gorilla.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,735},{206,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,255}</string>
			</dict>
			<key>question/hippopotamus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,290},{309,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,205}</string>
			</dict>
			<key>question/horse.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,295}</string>
			</dict>
			<key>question/lion.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,298},{330,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,251}</string>
			</dict>
			<key>question/monkey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,473},{238,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,257}</string>
			</dict>
			<key>question/mouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{1459,1},{287,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,304}</string>
			</dict>
			<key>question/panda.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,713},{195,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,277}</string>
			</dict>
			<key>question/pig.png</key>
			<dict>
				<key>frame</key>
				<string>{{2322,1},{267,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,265}</string>
			</dict>
			<key>question/rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,264},{231,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,284}</string>
			</dict>
			<key>question/sheep.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,298},{318,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,228}</string>
			</dict>
			<key>question/tiger.png</key>
			<dict>
				<key>frame</key>
				<string>{{2044,263},{354,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,195}</string>
			</dict>
			<key>question/whale.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,1},{411,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,216}</string>
			</dict>
			<key>question/wolf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,219},{343,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,252}</string>
			</dict>
			<key>question/zebra.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{350,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,295}</string>
			</dict>
			<key>question/eight.png</key>
			<dict>
				<key>frame</key>
				<string>{{3885,274},{147,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,191}</string>
			</dict>
			<key>question/eleven.png</key>
			<dict>
				<key>frame</key>
				<string>{{3493,1},{197,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,191}</string>
			</dict>
			<key>question/fifteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{2591,1},{233,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,191}</string>
			</dict>
			<key>question/five.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1140},{134,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,191}</string>
			</dict>
			<key>question/four.png</key>
			<dict>
				<key>frame</key>
				<string>{{3692,167},{156,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,191}</string>
			</dict>
			<key>question/fourteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,721},{256,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,191}</string>
			</dict>
			<key>question/nine.png</key>
			<dict>
				<key>frame</key>
				<string>{{3686,325},{141,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,191}</string>
			</dict>
			<key>question/nineteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1232},{239,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,191}</string>
			</dict>
			<key>question/one.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,528},{95,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,191}</string>
			</dict>
			<key>question/seven.png</key>
			<dict>
				<key>frame</key>
				<string>{{3297,197},{149,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,191}</string>
			</dict>
			<key>question/seventeen.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,914},{247,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,191}</string>
			</dict>
			<key>question/six.png</key>
			<dict>
				<key>frame</key>
				<string>{{3879,423},{141,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,191}</string>
			</dict>
			<key>question/sixteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1140},{239,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,191}</string>
			</dict>
			<key>question/ten.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,725},{252,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,191}</string>
			</dict>
			<key>question/thirteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,947},{243,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,191}</string>
			</dict>
			<key>question/three.png</key>
			<dict>
				<key>frame</key>
				<string>{{2988,199},{139,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,188}</string>
			</dict>
			<key>question/twelve.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,918},{250,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,191}</string>
			</dict>
			<key>question/twenty.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,528},{308,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,191}</string>
			</dict>
			<key>question/two.png</key>
			<dict>
				<key>frame</key>
				<string>{{3493,194},{152,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,191}</string>
			</dict>
			<key>question/bread.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,721},{313,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,153}</string>
			</dict>
			<key>question/cake.png</key>
			<dict>
				<key>frame</key>
				<string>{{3075,1},{220,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,196}</string>
			</dict>
			<key>question/candy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,497},{254,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,128}</string>
			</dict>
			<key>question/cheese.png</key>
			<dict>
				<key>frame</key>
				<string>{{3692,1},{228,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,164}</string>
			</dict>
			<key>question/chicken.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1107},{318,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,144}</string>
			</dict>
			<key>question/chocolate.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1},{339,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,263}</string>
			</dict>
			<key>question/cookie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,497},{255,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,236}</string>
			</dict>
			<key>question/doughnut.png</key>
			<dict>
				<key>frame</key>
				<string>{{3297,1},{194,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,194}</string>
			</dict>
			<key>question/egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,1},{277,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,261}</string>
			</dict>
			<key>question/ice cream.png</key>
			<dict>
				<key>frame</key>
				<string>{{2826,1},{176,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,247}</string>
			</dict>
			<key>question/juice.png</key>
			<dict>
				<key>frame</key>
				<string>{{2591,194},{164,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,255}</string>
			</dict>
			<key>question/ketchup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,550},{259,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,229}</string>
			</dict>
			<key>question/milk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2310,268},{164,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,255}</string>
			</dict>
			<key>question/salt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,763},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>question/sandwich.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1111},{247,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,187}</string>
			</dict>
			<key>question/sausage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,473},{246,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,85}</string>
			</dict>
			<key>question/soup.png</key>
			<dict>
				<key>frame</key>
				<string>{{2241,263},{312,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,67}</string>
			</dict>
			<key>question/sugar.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,725},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>question/tea.png</key>
			<dict>
				<key>frame</key>
				<string>{{2826,179},{264,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,160}</string>
			</dict>
			<key>question/water.png</key>
			<dict>
				<key>frame</key>
				<string>{{2310,434},{164,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,255}</string>
			</dict>
			<key>question/eighteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,985},{245,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,191}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistOfQuestion.png</string>
			<key>realTextureFileName</key>
			<string>PlistOfQuestion.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>